*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Headers*/

.headerBFP {
    background: rgb(0,0,0) !important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 25%, rgba(82,82,82,1) 50%, rgba(71,71,71,1) 75%, rgba(0,0,0,1) 100%) !important;
}

/* Main index*/

#mainIndex{ 
    color: aliceblue !important;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 25%, rgba(82,82,82,1) 50%, rgba(71,71,71,1) 75%, rgba(0,0,0,1) 100%);
}

/* Footers*/

.footerBFP {
    background: rgb(0,0,0) !important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 25%, rgba(82,82,82,1) 50%, rgba(71,71,71,1) 75%, rgba(0,0,0,1) 100%) !important;
}

/* Contacto */

.mainContactoBFP {
    background: rgb(0,0,0) !important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 25%, rgba(82,82,82,1) 50%, rgba(71,71,71,1) 75%, rgba(0,0,0,1) 100%) !important;
    color: aliceblue !important;
}

.listContacto {
    list-style: none;
}

input {
    font-size: 1rem;
}

select {
    font-size: 1rem;
}

/* Guia */

.mainGuiaBFP {
    background: rgb(0,0,0) !important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 25%, rgba(82,82,82,1) 50%, rgba(71,71,71,1) 75%, rgba(0,0,0,1) 100%) !important;
    color: aliceblue !important;
}

/* historia */

.mainHistoriaBFP {
    background: rgb(0,0,0) !important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 25%, rgba(82,82,82,1) 50%, rgba(71,71,71,1) 75%, rgba(0,0,0,1) 100%) !important;
    color: aliceblue !important;
}

/* Noticias */

#mainNoticias {
    height: 81.8vh;
    color: aliceblue !important;
    background: rgb(0,0,0) !important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 25%, rgba(82,82,82,1) 50%, rgba(71,71,71,1) 75%, rgba(0,0,0,1) 100%) !important;
}

.text-decoration-none{
    color: aliceblue !important;
}

.divNoticias{
    perspective: 2500 !important;
    transition: 1s ease !important;
}

.divNoticias:hover {
    background: rgb(0,0,0) !important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(99,99,99,1) 50%, rgba(0,0,0,1) 100%) !important;
    transform: rotatey(360deg) !important;
}