.headerBFP {
    font-family: 'PT Serif', serif;
    background-color: $bgFooHea;
    height: 10vh;
    
    .navbarBFP {
        background-color: $bgFooHea ;
        .tituloBFP {
        text-decoration: underline double $dangerBoots !important;
    }
        .liBFP{
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
    
}