.headerBFP {
    font-family: 'PT Serif', serif;
    background-image: url(../images/bloodborneartwork.webp) !important;
    height: 10vh;
    .tituloBFP{
        color: aliceblue !important;
        font-size: $fontSize2;
    }
}