#mainNoticias {
    @include bgColor($gradient1, $gradient2);
    height: 81.8vh;
    font-family: 'PT Serif', serif;
    .cardBFP {
        margin-top: 2vh;
        background-color: black;
        color: aliceblue;
    }
}

