.mainContactoBFP {
    background: map-get($gradientes, "negro") !important;
    background: map-get($gradientes, "gradiente1") !important;
    color: $fontColor1;
    font-family: 'PT Serif', serif;
    height: 85vh;
        .listContacto {
            list-style: none;
            input {
                font-size: $fontSize1;
                select {
                    font-size: $fontSize1;
            }
        }
    }
    .spanContacto {
        margin-top: 5vh;
        font-size: $fontSize2;
    }
    .spanContacto2{
       margin-top: 5vh;
       font-size: $fontSize2;
       text-decoration: underline solid 3px;
    }
    
}
