// FONTSIZES

$fontSize1: 1rem;
$fontSize2: 2rem;

// COLORES

$fontColor1: aliceblue;
$bgFooHea: rgba(36,36,36,1);
$dangerBoots: #dc3545;

// GRADIENTES

$gradientes:(
    "negro": rgb(0,0,0),
    "gradiente1": linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 25%, rgba(82,82,82,1) 50%, rgba(71,71,71,1) 75%, rgba(0,0,0,1) 100%)
);

$gradient1: rgb(0,0,0);
$gradient2: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 25%, rgba(82,82,82,1) 50%, rgba(71,71,71,1) 75%, rgba(0,0,0,1) 100%); 

$gradient3: rgb(0,0,0);
$gradient4: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(99,99,99,1) 50%, rgba(0,0,0,1) 100%);