* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.headerBFP {
  font-family: "PT Serif", serif;
  background-color: rgb(36, 36, 36);
  height: 10vh;
}
.headerBFP .navbarBFP {
  background-color: rgb(36, 36, 36);
}
.headerBFP .navbarBFP .tituloBFP {
  -webkit-text-decoration: underline double #dc3545 !important;
          text-decoration: underline double #dc3545 !important;
}
.headerBFP .navbarBFP .liBFP {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.footerBFP {
  background-color: rgb(36, 36, 36);
  height: 10vh;
}
.footerBFP .navRedes {
  border: solid #dc3545 2px;
  border-radius: 50px;
}

#mainIndex {
  background: rgb(0, 0, 0) !important;
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), color-stop(25%, rgb(71, 71, 71)), color-stop(50%, rgb(82, 82, 82)), color-stop(75%, rgb(71, 71, 71)), to(rgb(0, 0, 0))) !important;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(71, 71, 71) 25%, rgb(82, 82, 82) 50%, rgb(71, 71, 71) 75%, rgb(0, 0, 0) 100%) !important;
  color: aliceblue;
  font-family: "PT Serif", serif;
}
#mainIndex .videoIndex1 {
  margin: 3vh;
}

.mainContactoBFP {
  background: rgb(0, 0, 0) !important;
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), color-stop(25%, rgb(71, 71, 71)), color-stop(50%, rgb(82, 82, 82)), color-stop(75%, rgb(71, 71, 71)), to(rgb(0, 0, 0))) !important;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(71, 71, 71) 25%, rgb(82, 82, 82) 50%, rgb(71, 71, 71) 75%, rgb(0, 0, 0) 100%) !important;
  color: aliceblue;
  font-family: "PT Serif", serif;
  height: 85vh;
}
.mainContactoBFP .listContacto {
  list-style: none;
}
.mainContactoBFP .listContacto input {
  font-size: 1rem;
}
.mainContactoBFP .listContacto input select {
  font-size: 1rem;
}

.mainGuiaBFP {
  background: rgb(0, 0, 0) !important;
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), color-stop(25%, rgb(71, 71, 71)), color-stop(50%, rgb(82, 82, 82)), color-stop(75%, rgb(71, 71, 71)), to(rgb(0, 0, 0))) !important;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(71, 71, 71) 25%, rgb(82, 82, 82) 50%, rgb(71, 71, 71) 75%, rgb(0, 0, 0) 100%) !important;
  color: aliceblue;
  font-family: "PT Serif", serif;
}
.mainGuiaBFP .tableBFP {
  background-color: rgb(125, 38, 38);
  margin: 3vh;
}

.mainHistoriaBFP {
  background: rgb(0, 0, 0) !important;
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), color-stop(25%, rgb(71, 71, 71)), color-stop(50%, rgb(82, 82, 82)), color-stop(75%, rgb(71, 71, 71)), to(rgb(0, 0, 0))) !important;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(71, 71, 71) 25%, rgb(82, 82, 82) 50%, rgb(71, 71, 71) 75%, rgb(0, 0, 0) 100%) !important;
  color: aliceblue;
  font-family: "PT Serif", serif;
}
.mainHistoriaBFP .videoHistoria {
  margin: 3vh;
}

#mainNoticias {
  background: rgb(0, 0, 0) !important;
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), color-stop(25%, rgb(71, 71, 71)), color-stop(50%, rgb(82, 82, 82)), color-stop(75%, rgb(71, 71, 71)), to(rgb(0, 0, 0))) !important;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(71, 71, 71) 25%, rgb(82, 82, 82) 50%, rgb(71, 71, 71) 75%, rgb(0, 0, 0) 100%) !important;
  height: 81.8vh;
  font-family: "PT Serif", serif;
}
#mainNoticias .cardBFP {
  margin-top: 2vh;
  background-color: black;
  color: aliceblue;
}